@model String
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/js/select2.min.js"></script>

<style>
    input[type="text"] {
        padding: 2px;
        border-radius: 4px;
    }

    input.form-control {
        font-size: 14px;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .daterangepicker .drp-buttons .btn {
        margin-left: 8px;
        font-size: 12px;
        font-weight: bold;
        padding: 4px 8px;
        line-height: 1.5;
        border-radius: .2rem;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-appearance: button;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
</style>

<!--navigation bar-->
<div>
    <div class="about-heading container">
        <h5>
            <a href="@Url.Action("Index","Home")">Home / </a>
            <a href="@Url.Action("Index","Event")">Events</a>
        </h5>
    </div>
</div>
<!--//navigation bar-->

<p id="testjson"></p>
<div style=" font-family:Georgia; padding:0px;" class="container address-agileinfo">
    <div style="margin:1em;padding:0px;">
        <select id="selectSuburb" style="margin-right:2%; font-size:1em;width:150px;"></select>

        Is Free:
        <!--   <select id="isFree">
         
            <option value="1">Free</option>
            <option value="2">Not Free</option>
        </select>-->
        <input type="checkbox" id="free" value="Is Free" onclick="freeOrNot()" style="margin-right:2%" />
        Date Range:
        <input type="text" name="daterange" style="margin-right:2%;" />

        <select id="categories" style="margin-right:2%">
            <option value="0">--Select Category--</option>
            <option value="1">Exhibitions</option>
            <option value="2">Shows</option>
            <option value="3">Family</option>
            <option value="4">Festivals and Carnivals</option>
            <option value="5">Education</option>
            <option value="6">Film</option>
            <option value="7">Hiking and Camping</option>
        </select>
        <button onclick="go()" style="margin-top:0.2em;margin-right:2%">Go</button>
        <button onclick="clear123()" style="margin-top:0.2em;">Clear</button>
    </div>
</div>


<div id="eventGallery" style=" justify-content:center; text-align: center;" class="container">
    <h3 id="noResult" style="text-align:center;color:gray">Sorry, no result was found!!!</h3>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="name" style="color:black"> </h4>
            </div>
            <div class="modal-body">
                <img id="image" />
                <h4>Description</h4>
                <p id="description"> </p>
                <br />
                <h4>Category</h4>
                <p id="category"> </p>
                <br />
                <h4>Time</h4>
                <p id="time"> </p>
                <br />
                <h4>Address</h4>
                <p id="address"> </p>
                <br />
                <h4>Official Website</h4>
                <p id="website"> </p>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    var start_time = "0", end_time = "0";
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            minDate: (new Date()),
        }, function (start, end, label) {
            start_time = start.format('YYYY-MM-DD');
            end_time = end.format('YYYY-MM-DD');
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }).val('');

    });
</script>
<script>
    var isFree = "0", point = "0", category = "0";
    var json;
    var eventGallery = document.getElementById("eventGallery");
    var suburbs;
    var div1;
    var image;
    var nameDiv;
    var nameH4;
    basicEvents(isFree, point, start_time, end_time, category);

    loadSuburb();
    function go() {
        point = document.getElementById("selectSuburb").options[document.getElementById("selectSuburb").selectedIndex].value;

        category = document.getElementById("categories").options[document.getElementById("categories").selectedIndex].value;
        basicEvents(isFree, point, start_time, end_time, category);
    }
    function basicEvents(isFree, point, start_time, end_time, category) {
        $.ajax({
            url: "/Event/GetEvents",
            type: "GET",//请求方式为get
            dataType: "json", //返回数据格式为json
            data: { isFree: isFree, point: point, start_time: start_time, end_time: end_time, category: category },
            async: false,//是否同步
            success: function (data) {//请求成功完成后要执行的方法
                json = data["events"];
                console.log(json);
            },
            error: function () {
                console.log("error");
            }
        });
        loadEvents();
    }

    //document.getElementById("testjson").innerText = JSON.stringify(json);

    function loadEvents() {
        paras = document.getElementsByClassName("w3-card-4 col-md-4 col-lg-4 events");
        var parasLength = paras.length;
        for (var i = 0; i < parasLength; i++) {
            //删除元素 元素.parentNode.removeChild(元素);
            if (paras[0] != null) { paras[0].parentNode.removeChild(paras[0]); }

        }
        if (json.length == 0) {
            alert("Sorry, no result was found!!!");
            document.getElementById("noResult").style.display = "";
        }
        else { document.getElementById("noResult").style.display = "none"; }
        for (var i = 0; i < json.length; i++) {
            div1 = document.createElement("div");
            div1.setAttribute("class", "w3-card-4 col-md-4 col-lg-4 events container");
            div1.setAttribute("id", json[i]["id"]);
            div1.setAttribute("style", "font-family:Georgia;width:min-content;padding:0px;margin:1.5em");
            div1.setAttribute("onclick", "EventClicked(this)");
            image = document.createElement("img");
            image.setAttribute("src", json[i]["images"]["images"][0]["transforms"]["transforms"][2]["url"]);
            image.setAttribute("alt", "No Image avalible");
            image.setAttribute("style", "width:auto");
            nameDiv = document.createElement("div");
            nameDiv.setAttribute("class", "w3-container w3-center");
            nameDiv.setAttribute("style", "margin-top:0.5em;margin-bottom:0.5em;");
            nameH4 = document.createElement("h4");
            nameH4.setAttribute("style", "font-size:1em; color: black;font-family:Georgia;height:3em;");
            nameH4.innerText = json[i]["name"];
            nameDiv.appendChild(nameH4);
            div1.appendChild(image);
            div1.appendChild(nameDiv);
            eventGallery.appendChild(div1);
        }
    }


    function EventClicked(obj) {
        var eventId = parseInt(obj.id);
        var selectedEvent;
        for (var i = 0; i < json.length; i++) {
            if (eventId == json[i]["id"]) { selectedEvent = json[i]; }
        }
        document.getElementById("image").setAttribute("src", selectedEvent["images"]["images"][0]["transforms"]["transforms"][3]["url"]);
        document.getElementById("name").innerText = selectedEvent.name;
        document.getElementById("description").innerText = selectedEvent.description;
        document.getElementById("category").innerText = selectedEvent.category.name;
        document.getElementById("address").innerText = selectedEvent.location_summary;
        document.getElementById("website").innerText = selectedEvent.web_sites.web_sites[0].url;
        document.getElementById("time").innerText = "From: " + selectedEvent.datetime_start + "\u00A0\u00A0\u00A0To: " + selectedEvent.datetime_end;
        $("#myModal").modal();
    }
    function loadSuburb() {
        document.getElementById("selectSuburb").options.add(new Option("--select suburb--", 0));
        $.ajax({
            url: "/Event/GetSuburbs",
            type: "GET",//请求方式为get
            dataType: "json", //返回数据格式为json
            data: {},
            async: true,//是否同步
            success: function (data) {//请求成功完成后要执行的方法
                suburbs = data;
                for (var i = 0; i < suburbs.length; i++) {
                    var newOption = new Option(suburbs[i].SuburbName, suburbs[i].Lat + "," + suburbs[i].Lon);
                    newOption.setAttribute("style", "font-size:0.8em");
                    document.getElementById("selectSuburb").options.add(newOption);

                }
            },
            error: function () {
                console.log("error");
            }
        })
    }
    function clear123() {
        console.log("clicked");
        document.getElementById("selectSuburb").options[0].selected = true;
        document.getElementById("free").checked = false;
        document.getElementById("categories").options[0].selected = true;
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            minDate: (new Date()),
        }, function (start, end, label) {
            start_time = start.format('YYYY-MM-DD');
            end_time = end.format('YYYY-MM-DD');
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }).val('');
        isFree = "0"; point = "0"; category = "0"; start_time = "0"; end_time = "0";
        go();
    }
    function freeOrNot() {
        if (document.getElementById("free").checked) { isFree = "1"; }
        else { isFree = "0"; }
    }
</script>
@section Scripts{
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
}
