@{ 
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password</title>
    <link href="~/Content/pw.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
    <!--login with password-->
    <div class="container center">
        <a href="#login" class="btn btn-large teal modal-trigger">Login</a>
    </div>

    <div id="login" class="modal ">
        <h5 class="modal-close">&#10005;</h5>
        <div class="modal-content center">
            <h4>Login</h4>
            <br>
            <!--A form with the input password-->
            <form action="#">
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="pass" class="validate">
                    <label for="pass" data-error="invalid password">Password</label>
                </div>
                <br>
                <input type="submit" value="Login" class="btn btn-large" onclick="confirm()">
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            });

        function confirm() {
            // check the password 
          let value = $('#pass')[0].value;
          if (value === 'Lucky') {
            //alert('Welcome!');
            $("#pass").attr("class","validate");
            window.location.href = "@Url.Action("Index","Home")";
            window.event.returnValue=false;
          } else {
            alert('Login Failed');
            $("#pass").attr("class","validate invalid");
          }

        }
    </script>

</body>